.div1 {
    background-color: orange;
    height: 100px;
}

.div2 {
    background-color: palevioletred;
    height: 40px;
}

div {
    --height1: 400px;
    --width1: 250px;
}

.div3_box {
    background-color: ivory;
}
.div3_box::after {
    content: '';
    clear: both;
    display: block;
    visibility: hidden;
}

.div3_left {
    background-color: pink;
    float: left;
    height: var(--height1);
    width: var(--width1);
}

.div3_right {
    background-color: skyblue;
    position: relative;
    float: left;
    height: calc(var(--height1) - 0px);
    width: calc(100% - var(--width1));
}

.div31_s {
    position: absolute;
    bottom: 0px;
    background-color: yellow;
    width: 100%;
    height: 100px;
}

.div4 {
    background-color: green;
    height: 100px;
}