.div1{
    background-color: red;
    float: left;
    height: 200px;
    width: 200px;
}
.div2{
    background-color: green;
    float: left;
    height: 200px;
    width: 200px;
}
.div3{
    background-color: blue;
    float: left;
    height: 200px;
    width: 200px;
}